*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins, sans-serif;
}

body{
  background:#ffd6e7;
  text-align:center;
  overflow:hidden;
}

/* Pages */
.page{
  position:absolute;
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  transition:1s;
}
.hidden{
  opacity:0;
  pointer-events:none;
  transform:scale(0.9);
}

/* Button */
.btn{
  padding:12px 25px;
  border:none;
  border-radius:30px;
  background:linear-gradient(45deg,#ff66cc,#ff99ff);
  color:white;
  font-size:16px;
  cursor:pointer;
  margin-top:15px;
  box-shadow:0 0 20px #ff66cc;
}

/* Board */
.board{
  background:#fff0f5;
  border:3px solid #ff66cc;
  border-radius:25px;
  padding:30px;
  width:80%;
  max-width:700px;
  box-shadow:0 0 35px #ff99cc;
  position:relative;
}

/* Flip Card */
.card{
  width:250px;
  height:250px;
  perspective:1000px;
}
.inner{
  width:100%;
  height:100%;
  transition:1s;
  transform-style:preserve-3d;
}
.card:hover .inner{
  transform:rotateY(180deg);
}
.front,.back{
  position:absolute;
  width:100%;
  height:100%;
  border-radius:20px;
  display:flex;
  justify-content:center;
  align-items:center;
  backface-visibility:hidden;
}
.front{
  background:linear-gradient(45deg,#ff99cc,#ff66cc);
  color:white;
}
.back{
  background:white;
  transform:rotateY(180deg);
}

/* Message */
.message{
  display:none;
  margin-top:20px;
  padding:20px;
  border-radius:20px;
  background:rgba(255,182,193,0.3);
}